html{
    font-family: 'PT Sans', sans-serif;
}

@media (max-width: 720px){
    .gridtemplate {
        display: grid;
    }
    .lightblue{
        margin-top: 50px;
        padding: 20px;
        background-color: #B8DDFF;
        color: #0084FF;
        border-radius: 25px;
    }
    .lightgreen {
        background-color: #CAF0DB;
        color: #54C788;
        display: grid;
        align-self: center;
        border-radius: 25px;
        margin-top: 20px;
        padding: 10px;
    }
    .lightpink {
        background-color: #FFD2D2;
        color: #FF8A8A;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
    }
    .lightorange {
        background-color: #FFE7C4;
        color: #FFC166;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
    }
    .lightpurple {
        background-color: #D5D4F5;
        color: #9693E6;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
    }
    .lightredblacktext {
        background-color: #FFD2D2;
        color: black;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
    }
    .purple2 {
        background-color: #9693E6;
        color: white;
        display: grid;
        margin-top:50px;
        padding: 10px;
    }
    .blackonwhite {
        background-color: white;
        color: black;
        display: grid;
        border-radius: 25px;
        margin-top:50px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .testimonials {
        display: grid;
        margin-top: 30px;
    }
    .purpletext{
        color: #9693E6;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color:#0084FF;
        color: white;
    }
    h1 {
        display: grid;
    }
    .headmenu {
        justify-self: end;
        align-self: center;
        padding-right: 20px;
    }
    .headmenulogo {
        margin-left: 20px;
    }
    .appstore {
        width: 250px;
        margin-left: 20px;
        border-radius: 25px;
        background-color: #0084FF;
        color: white;
        display: grid;
        grid-template-columns:1fr 1fr ;
    }
    .apple {
        justify-self: center;
        align-self: center; 
    }
    .phone {
        padding-left: 20px;
    }
    .development {
        margin-top: 20px;
        display: grid;
        justify-self: center;
        align-self: center;
    }
    .dhead {
        display: grid;
        justify-self: center;
        align-self: center;
    }
    .pd {
        display: grid;
        justify-self: center;
        align-self: center;  
    }
    .centered {
        align-self: center;
        justify-self: center;
    }
    .margintop0 {
        margin-top: 0px;
    }
    .float-right {
        float: right;
    }
    .rounded {
        border-radius: 50%;
        justify-self: center;
        align-self: center;
    }
    .lightyellowbackground {
        background-color: #FFC166;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    .lightbluebackground {
        background-color: #CAF0DB;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    .whiteonpurplesection {
        display: grid;
        background-color: #9693E6;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .purpleonwhitearticle {
        background-color: white;
        color: #9693E6;
        border-radius: 25px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .purpletext2{
        color: #9693E6;
    }
    .bossman {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .absolute {
        align-self: center;
        justify-self: center;
        color: #9693E6;
    }
    .relative {
        border-radius: 50%;
    }
    .whiteonpurple2 {
        background-color: #9693E6;
        color: white;
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding: 1px;
        width: 200px;
        border-radius: 5px;
    }
    .start {
        align-self: center;
        justify-self: start;
    }
    .purpleitem {
        color:#9693E6;
    }
    .purplebackgroundsquared {
        background-color: #9693E6;
        padding: 20px;
        display: grid;
        margin-top: 50px;
    }
    .lightpurple {
        color: #B8DDFF;
        background-color: #9693E6;
    }
    .yellowtext {
        color: #FFC166;
        font-size:36px;
    }
    .whitetext {
        color: white;
    }
    .whitewithpurpletext {
        color: #9693E6;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
        border-style: none;
        width: 150px;
    }
    .whiteonblack {
        background-color: black;
        color: white;
        display: grid;
    }
}

@media (min-width:721px) and (max-width:1000px){
    .gridtemplate {
        display: grid;
    }
    .lightblue{
        margin-top: 0px;
        padding: 0px;
        background-color: #B8DDFF;
        color: #0084FF;
        border-radius: 25px;
    }
    .lightgreen {
        background-color: #CAF0DB;
        color: #54C788;
        display: grid;
        align-self: center;
        border-radius: 25px;
        margin-top:0x;
        padding: 0px;
        height: 1fr;
        min-height: 100%;
        margin-left: 20px;
    
    }
    .lightpink {
        background-color: #FFD2D2;
        color: #FF8A8A;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
        margin-right: 20px;
    }
    .lightorange {
        background-color: #FFE7C4;
        color: #FFC166;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .lightpurple {
        background-color: #D5D4F5;
        color: #9693E6;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
        margin-left: 20px;
    }
    .lightredblacktext {
        background-color: #FFD2D2;
        color: black;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
    }
    .purple2 {
        background-color: #9693E6;
        color: white;
        display: grid;
        margin-top:50px;
        padding: 10px;
    }
    .blackonwhite {
        background-color: white;
        color: black;
        display: grid;
        border-radius: 25px;
        margin-top:50px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .testimonials {
        display: grid;
        margin-top: 30px;
    }
    .purpletext{
        color: #9693E6;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color:#0084FF;
        color: white;
    }
    h1 {
        display: grid;
    }
    .headmenu {
        justify-self: end;
        align-self: center;
        padding-right: 20px;
    }
    .headmenulogo {
        margin-left: 20px;
    }
    .appstore {
        width: 250px;
        margin-left: 20px;
        border-radius: 25px;
        background-color: #0084FF;
        color: white;
        display: grid;
        grid-template-columns:1fr 1fr ;
    }
    .apple {
        justify-self: center;
        align-self: center; 
    }
    .phone {
        padding-left: 20px;
    }
    .development {
        margin-top: 20px;
        display: grid;
        justify-self: center;
        align-self: center;
    }
    .dhead {
        display: grid;
        justify-self: center;
        align-self: center;
    }
    .pd {
        display: grid;
        justify-self: center;
        align-self: center;  
    }
    .centered {
        align-self: center;
        justify-self: center;
    }
    .margintop0 {
        margin-top: 0px;
    }
    .float-right {
        float: right;
    }
    .rounded {
        border-radius: 50%;
        justify-self: center;
        align-self: center;
    }
    .lightyellowbackground {
        background-color: #FFC166;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    .lightbluebackground {
        background-color: #CAF0DB;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    .whiteonpurplesection {
        display: grid;
        background-color: #9693E6;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .purpleonwhitearticle {
        background-color: white;
        color: #9693E6;
        border-radius: 25px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .purpletext2{
        color: #9693E6;
    }
    .bossman {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .absolute {
        align-self: center;
        justify-self: center;
        color: #9693E6;
    }
    .relative {
        border-radius: 50%;
    }
    .whiteonpurple2 {
        background-color: #9693E6;
        color: white;
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding: 1px;
        width: 200px;
        border-radius: 5px;
    }
    .start {
        align-self: center;
        justify-self: start;
    }
    .purpleitem {
        color:#9693E6;
    }
    .purplebackgroundsquared {
        background-color: #9693E6;
        padding: 20px;
        display: grid;
        margin-top: 50px;
    }
    .lightpurple {
        color: #B8DDFF;
        background-color: #9693E6;
    }
    .yellowtext {
        color: #FFC166;
        font-size:36px;
    }
    .whitetext {
        color: white;
    }
    .whitewithpurpletext {
        color: #9693E6;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
        border-style: none;
        width: 150px;
    }
    .whiteonblack {
        background-color: black;
        color: white;
        display: grid;
    }
    .section1 {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .displaygrid {
        display: grid;
    }
    section {
        display: grid;
    }
    .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .boss3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .boss2 {
        min-height: 100%;
    }
}
@media screen and (min-width:1000px){
    .gridtemplate {
        display: grid;
    }
    .lightblue{
        margin-top: 0px;
        padding: 0px;
        background-color: #B8DDFF;
        color: #0084FF;
        border-radius: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .lightgreen {
        background-color: #CAF0DB;
        color: #54C788;
        display: grid;
        align-self: center;
        border-radius: 25px;
        margin-top:0x;
        padding: 0px;
        height: 1fr;
        min-height: 100%;
        margin-left: 20px;
    
    }
    .lightpink {
        background-color: #FFD2D2;
        color: #FF8A8A;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
        margin-right: 20px;
    }
    .lightorange {
        background-color: #FFE7C4;
        color: #FFC166;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .lightpurple {
        background-color: #D5D4F5;
        color: #9693E6;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
        margin-left: 20px;
    }
    .lightredblacktext {
        background-color: #FFD2D2;
        color: black;
        display: grid;
        border-radius: 25px;
        margin-top:20px;
        padding: 10px;
    }
    .purple2 {
        background-color: #9693E6;
        color: white;
        display: grid;
        margin-top:50px;
        padding: 10px;
    }
    .blackonwhite {
        background-color: white;
        color: black;
        display: grid;
        border-radius: 25px;
        margin-top:50px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
    }
    .testimonials {
        display: grid;
        margin-top: 30px;
    }
    .purpletext{
        color: #9693E6;
    }
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color:#0084FF;
        color: white;
    }
    h1 {
        display: grid;
    }
    .headmenu {
        justify-self: end;
        align-self: center;
        padding-right: 20px;
    }
    .headmenulogo {
        margin-left: 20px;
    }
    .appstore {
        width: 250px;
        margin-left: 20px;
        border-radius: 25px;
        background-color: #0084FF;
        color: white;
        display: grid;
        grid-template-columns:1fr 1fr ;
    }
    .apple {
        justify-self: center;
        align-self: center; 
    }
    .phone {
        padding-left: 20px;
    }
    .development {
        margin-top: 20px;
        display: grid;
        justify-self: center;
        align-self: center;
    }
    .dhead {
        display: grid;
        justify-self: center;
        align-self: center;
    }
    .pd {
        display: grid;
        justify-self: center;
        align-self: center;  
    }
    .centered {
        align-self: center;
        justify-self: center;
    }
    .margintop0 {
        margin-top: 0px;
    }
    .float-right {
        float: right;
    }
    .rounded {
        border-radius: 50%;
        justify-self: center;
        align-self: center;
    }
    .lightyellowbackground {
        background-color: #FFC166;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    .lightbluebackground {
        background-color: #CAF0DB;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 25px;
        padding: 20px;
    }
    .whiteonpurplesection {
        display: grid;
        background-color: #9693E6;
        color: white;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .purpleonwhitearticle {
        background-color: white;
        color: #9693E6;
        border-radius: 25px;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .purpletext2{
        color: #9693E6;
    }
    .bossman {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .absolute {
        align-self: center;
        justify-self: center;
        color: #9693E6;
    }
    .relative {
        border-radius: 50%;
    }
    .whiteonpurple2 {
        background-color: #9693E6;
        color: white;
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding: 1px;
        width: 200px;
        border-radius: 5px;
    }
    .start {
        align-self: center;
        justify-self: start;
    }
    .purpleitem {
        color:#9693E6;
    }
    .purplebackgroundsquared {
        background-color: #9693E6;
        padding: 20px;
        display: grid;
        margin-top: 50px;
    }
    .lightpurple {
        color: #B8DDFF;
        background-color: #9693E6;
    }
    .yellowtext {
        color: #FFC166;
        font-size:36px;
    }
    .whitetext {
        color: white;
    }
    .whitewithpurpletext {
        color: #9693E6;
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 25px;
        border-style: none;
        width: 150px;
    }
    .whiteonblack {
        background-color: black;
        color: white;
        display: grid;
    }
    .section1 {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .displaygrid {
        display: grid;
    }
    section {
        display: grid;
    }
    .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .numbers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .boss3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .boss2 {
        min-height: 100%;
    }
}
